footer {
    padding: 190px 0 117px 0;
    display: flex;
    align-items: flex-start;

    .footer_article {
        width: 300px;

        .brand {
            padding-bottom: 40px;
        }

        .p {
            padding-bottom: 30px;
        }

        p {
            color: #777777;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
        }
    }

    .footer_menu {
        padding-left: 179px;
        display: flex;
        align-items: center;
        gap: 96px;

        .footer_icon {
            width: 150px;

            p {
                padding-bottom: 30px;

                .strong {
                    color: #000000;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 32px;
                }


                a {
                    color: #777777;
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 32px;
                }
            }
        }
    }
}