header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: sans-serif;
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 1;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    .link {
        display: flex;
        align-items: center;
        gap: 50px;
        color: #0A2640;

        a {
            color: #0A2640;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
        }

        .link_a {
            padding: 7px 32px;
            border: 2px solid #0A2640;
            border-radius: 20px;
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 40px;

            &_icon:hover {
                transition: .3s;
                border-bottom: 4px solid blue;
            }
        }
    }

}