* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    body {
        background-color: grey;

        .container {
            width: 1400px;
            padding: 20px 100px;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.95);
        }
    }
}